/*Wideo (autor: Engin Akyurt) z Pexels*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: default;
}

body {
    background-color: black;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



.logo {

    z-index: 100;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3vw;
    animation-name: appear;
    animation-duration: 8s;
    color: rgb(255, 255, 255);
    position: fixed;
}

video {
    z-index: -100;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    opacity: 0.9;
}

@keyframes kangur {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.4;
    }

}

.textone {
    opacity: 0.4;
    z-index: 100;
    animation-name: kangur;
    animation-duration: 5s;
    letter-spacing: -0.5vh;
    margin: 0;
    padding: 0;
    width: 20%;
    font-size: 150px;
    position: absolute;
    line-height: 64%;
    top: 35vh;
    left: -20px;
    display: block;
    font-family: 'Kanit', sans-serif;
    color: white;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.textone:hover {
    color: red;
    opacity: 0.4;

}

.info {
    color: white;
    font-family: 'Kanit', sans-serif;
    opacity: 0.4;
    position: absolute;
    top: 600px; left: 40px;}

.footer {
    letter-spacing: 4px;
    font-family: 'Alumni Sans', sans-serif;
    animation-name: kangur;
    animation-duration: 3s;
    opacity: 0.6;
    z-index: 100;
    width: 100%;
    font-size: 20px;
    text-align: right;
    text-transform: uppercase;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
}




/* tablet */
@media only screen and (max-width: 769px) {
    .logo {
        font-size: 20px;
        text-align: center;
    }

    .textone {
        top: 20vh;
    }
}

@media only screen and (max-width: 505px) {
    .textone {
        top: 20vh;
    }

    .logo {
        font-size: 20px;
        text-align: center;
    }

    .footer {
        text-align: center;
        letter-spacing: 1px;
        align-items: center;
    }

}

@media only screen and (max-width: 425px) {
    .textone {
        font-size: 110px;
    }
}

@media only screen and (orientation: landscape) {
    body {
        overflow: hidden;
    }

    .textone {
        top: 25vh;
    }
}